//
   Created by mallika on 10/28/15.

extends layout

block content
    #alldivs
        include ./leftaside.jade
        #contentdiv
            h1 Big Data
            p.
                According to IDC's prediction in 2013, the market for Big Data will reach $16.1 Billion
                in 2014, growing 6 times faster than the overall IT market. This kind of business analysis reports
                bring great business opportunities and strong research interests among both the academic and industry
                communities. Recently, our Big Data product offerings are organized focusing on Big Data Computing,
                Big Data Sciences and Analytics, and Big Data Technology and Engineering
            #videodiv
                video(src="/images/BugsBunny.mp4", controls)
        include ./rightaside.jade
    include ./iframe.jade

