//
   Created by mallika on 10/28/15.

extends layout

block content
    #alldivs
        include ./leftaside.jade
        #contentdiv
            h1 Internet Of Things
            p.
                Gartner defines the Internet of Things as the network of physical objects that contain embedded
                technology to communicate and sense or interact with their internal state or external environment
                <br />As per the International Data Corporation (IDC) press release, "The Internet of Things
                Is Poised to change everything", the Internet Of Things represents a new construct in the information
                and communications technology world that is occupying the minds of the iT vendors, service providers
                and systems integrators as it represents huge potential for new streams of revenue and new customers.
            #pricingdiv
                h1 Our offer pricing
                div
                    div
                        p Number of sensors: 30 <br />Data Stream: 30 kb/s <br /> Price: $30/month
                    div
                        p Number of sensors: 60 <br />Data Stream: 50 kb/s <br /> Price: $50/month
        include ./rightaside.jade
    include ./iframe.jade

