//
   Created by mallika on 10/30/15.

extends layout

block content
    #managementdiv
        #textdiv
            h1 Management
            p.
                Visionary data scientists> accomplished industry veterans. Trusted Advisors. Proven investors.
                OurCo is led by a world class team that believes in data's potential to change the world. Our company
                is proud to be backed by Intel Capital< Investor Growth Capital< QuestMark Partners,
                Golaman Sachs, TransLink Capital and other strategic investors.
        #bottomdiv
            #addiv
                p bciurbevirbeauobv
            #photosdiv
                h1 Executive Team
                div(class="row")
                    div(class="col-sm-6 col-md-4")
                        div(class="thumbnail")
                            img(class="mgmtimg", src="/images/Dumbledore.jpeg")
                            div(class="caption")
                                h3 Albus Dumbledore
                                h2 CEO & Co-Founder
                                p
                                    a(href="#", class="btn btn-primary", role="button") More
                    div(class="col-sm-6 col-md-4")
                        div(class="thumbnail")
                            img(class="mgmtimg", src="/images/HarryPotter.jpeg")
                            div(class="caption")
                                h3 Hary Potter
                                h2 COO & Co Founder
                                p
                                    a(href="#", class="btn btn-primary", role="button") More
                    div(class="col-sm-6 col-md-4")
                        div(class="thumbnail")
                            img(class="mgmtimg", src="/images/Hermione.jpeg")
                            div(class="caption")
                                h3 Hermione Granger
                                h2 CTO
                                p
                                    a(href="#", class="btn btn-primary", role="button") More
                    div(class="col-sm-6 col-md-4")
                        div(class="thumbnail")
                            img(class="mgmtimg", src="/images/RonWeasley.jpeg")
                            div(class="caption")
                                h3 Ronald Weasley
                                h2 CFO
                                p
                                    a(href="#", class="btn btn-primary", role="button") More
    script.
        var management = [
            {
                name = 'Albus Dumbledore',
                title = 'CEO & CoFounder'
            }
        ];
